{% extends 'base.html.twig' %}

{% block body %}
<!-- Start Header -->
<header id="mu-header" class="" role="banner">
    <div class="container">
        <nav class="navbar navbar-default mu-navbar">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Text Logo -->
                    <a class="navbar-brand" href="#">Mohamed</a>

                    <!-- Image Logo -->
                    <!-- <a class="navbar-brand" href="#"><img src="{{ asset ('images/') }}"></a> -->


                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav mu-menu navbar-right">
                        <li><a href="#">HOME</a></li>
                        <li><a href="#mu-about">PROFIL</a></li>
                        <li><a href="#mu-service">SERVICES</a></li>
                        <li><a href="#mu-portfolio">PORTFOLIO</a></li>
                        <li><a href="#mu-testimonials">LOISIRS</a></li>
                        <li><a href="#mu-contact">CONTACT</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
</header>
<!-- End Header -->

<!-- Start Featured Slider -->

<section id="mu-featured-slider">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-featured-area">
                    <h1>Mohamed Yessad</h1>

                    <!-- Start text slide -->
                    <div class="mu-featured-slider-wrapper">
                        <div class="mu-featured-slider" id="typed-strings">
                            <p>I am <span></span></p>
                            <p>I am <span></span></p>
                            <p>I am <span></span></p>
                        </div>
                        <span id="typed"></span>
                    </div>
                    <!-- Start text slide -->

                    <div class="mu-featured-content">
                        <p>............!</p>
                        <a href="#mu-portfolio" class="mu-primary-btn view-my-work-btn">Voir mon travail</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- Start Featured Slider -->

<!-- Start main content -->

<main role="main">

    <!-- Start About -->
    <section id="mu-about">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-about-area">

                        <div class="mu-about-header">
                            <h2 class="mu-heading-title">Qui suis-je ?</h2>
                            <span class="mu-header-dot"></span>
                            <p> </p>
                        </div>

                        <!-- Start About Us Content -->
                        <div class="mu-about-content">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mu-about-content-left">
                                        <img class="mu-profile-img" src="{{ asset ('images/') }}"
                                            alt="Profile Image">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mu-about-content-right">

                                        <!-- Start skills progress bar -->

                                        <div class="mu-skill-progress-bar">
                                            <h3>Skills</h3>
                                            <span>Html5</span>
                                            <div class="mu-pro-bar mu-html5-bar">

                                            </div>
                                            <span>css</span>
                                            <div class="mu-pro-bar mu-css-bar">

                                            </div>
                                            <span>Photoshop</span>
                                            <div class="mu-pro-bar mu-photoshop-bar">
                                            </div>
                                            <span>Wordpress</span>
                                            <div class="mu-pro-bar mu-wordpress-bar">
                                            </div>
                                            <span>jQuery</span>
                                            <div class="mu-pro-bar mu-jquery-bar">
                                            </div>
											 <span>PHP Objet</span>
							                    <div class="mu-pro-bar mu-phpOb-bar">
							                      
							                    </div>
							                    <span>MySql</span>
							                    <div class="mu-pro-bar mu-mysql-bar">
							                     
							                    </div>
							                    <span>Symfony 4</span>
							                    <div class="mu-pro-bar mu-symfony-bar">
							                    </div>
                                        </div>

                                        <!-- Start Social Media -->
                                        <div class="mu-social-media">
                                            <h3>Social</h3>
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                        </div>

                                        <!-- Download Ressume Button -->
                                        <a href="#" class="mu-resume-btn">Download My Resume</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End About Us Content -->

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About -->

    <!-- Start Service -->
    <section id="mu-service">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-service-area">
                        <div class="mu-service-header">
                            <h2 class="mu-heading-title">MES SERVICES</h2>
                            <span class="mu-header-dot"></span>
                            <p></p>
                        </div>

                        <!-- Start Service Content -->
                        <div class="mu-service-content">
                            <div class="row">
                               <!-- Service Single Content -->
                                <div class="col-md-4 col-sm-6">
                                    <div class="mu-service-content-single">
                                        <span class="mu-service-icon-box">
                                            <i class="fa fa-desktop"></i>
                                        </span>
                                        <h4></h4>
                                        <p></p>
                                    </div>
                                </div>
                                <!-- / Service Single Content -->
                    
                                <!-- Service Single Content -->
                                <div class="col-md-4 col-sm-6">
                                    <div class="mu-service-content-single">
                                        <span class="mu-service-icon-box">
                                            <i class="fa fa-camera"></i>
                                        </span>
                                        <h4>...............</h4>
                                        <p></p>
                                    </div>
                                </div>
                                <!-- / Service Single Content -->

                                <!-- Service Single Content -->
                                <div class="col-md-4 col-sm-6">
                                    <div class="mu-service-content-single">
                                        <span class="mu-service-icon-box">
                                            <i class="fa fa-android"></i>
                                        </span>
                                        <h4>..........................</h4>
                                        <p></p>
                                    </div>
                                </div>
                                <!-- / Service Single Content -->
                            </div>
                        </div>
                        <!-- End Service Content -->

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Service -->

    <!-- Start Portfolio -->
    <section id="mu-portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-portfolio-area">

                        <div class="mu-portfolio-header">
                            <h2 class="mu-heading-title">MON PORTFOLIO</h2>
                            <span class="mu-header-dot"></span>
                        </div>

                        <!-- Start Portfolio Filter -->
                        <div class="mu-portfolio-filter-area">
                            <ul class="mu-simplefilter">
                                <li class="active" data-filter="all">All</li>
                                <li data-filter="1">PHP Objet</li>
					                <li data-filter="2">SYMFONY 4</li>
					                <li data-filter="3">WORDPRESS</li>
                            </ul>
                        </div>

                        <!-- Start Portfolio Content -->
							<div class="mu-portfolio-content">
								<div class="filtr-container">

					                <div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="1">
					                	<div class="mu-item-thumbonail">
					                		<img class="img-responsive" src="{{ asset('images/portfolio/php.jpeg') }}" alt="image">
					                	</div>
					                	<div class="mu-filter-item-content">
					                    	<h4 class="mu-filter-item-title">PHP Objet</h4>
					                    	<a class="mu-filter-link" href=""><i class="fa fa-link"></i></a>
					                    	<a class="mu-filter-imglink" href="{{ asset('images/portfolio//php.jpeg') }}" title="PHP 7"><i class="fa fa-search"></i></a>
					                    </div>
					                </div>

					                <div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="2">
					                	<div class="mu-item-thumbonail">
					                		<img class="img-responsive" src="{{ asset('images/portfolio/symfony.jpg') }}" alt="image">
					                	</div>
					                	<div class="mu-filter-item-content">
					                    	<h4 class="mu-filter-item-title">CV Portfolio Symfony 4</h4>
					                    	<a class="mu-filter-link" href=""><i class="fa fa-link"></i></a>
					                    	<a class="mu-filter-imglink" href="{{ asset('images/portfolio/symfony.jpg') }}" title="SYMFONY 4"><i class="fa fa-search"></i></a>
					                    </div>
					                </div>
									
									 <div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="2">
					                	<div class="mu-item-thumbonail">
					                		<img class="img-responsive" src="{{ asset('images/portfolio/symfony.jpg') }}" alt="image">
					                	</div>
					                	<div class="mu-filter-item-content">
					                    	<h4 class="mu-filter-item-title">Agence Immobilière</h4>
					                    	<a class="mu-filter-link" href=""><i class="fa fa-link"></i></a>
					                    	<a class="mu-filter-imglink" href="{{ asset('images/portfolio/symfony.jpg') }}" title="Agence Immob"><i class="fa fa-search"></i></a>
					                    </div>
					                </div>

					                <div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="3">
					                	<div class="mu-item-thumbonail">
					                		<img class="img-responsive" src="{{ asset('images/portfolio/wordpress.jpg') }}" alt="image">
					                	</div>
					                	<div class="mu-filter-item-content">
					                    	<h4 class="mu-filter-item-title">WORDPRESS</h4>
					                    	<a class="mu-filter-link" href="https://les-etoiles.000webhostapp.com"><i class="fa fa-link"></i></a>
					                    	<a class="mu-filter-imglink" href="{{ asset('/images/portfolio/wordpress.jpg') }}" title="WORDPRESS"><i class="fa fa-search"></i></a>
					                    </div>
					                </div>

					            </div>
							</div>
							<!-- End Portfolio Content -->

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Portfolio -->

  			<!-- Start Testimonials -->
		<section id="mu-testimonials">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="mu-testimonials-area">
							<div class="mu-testimonial-header">
								<h2 class="mu-heading-title">LOISIRS</h2>
								<span class="mu-header-dot"></span>
							</div>

							<div class="mu-testimonials-block">
								<ul class="mu-testimonial-slide">
									<li>
										<i class="fa fa-quote-right mu-quote-icon"></i>
										<img src="{{ asset('images/testimonials-bg.jpeg') }}" alt="">
										<p>Voyager, c'est grandir. La grande aventure. Celle qui laisse des traces dans l'âme.</p>
										<h5 class="mu-ct-name"> - Plongée sous marine</h5>
										<span class="mu-ct-title">- Jacques Martin.</span>
									</li>
									
									<li>
										<i class="fa fa-quote-right mu-quote-icon"></i>
										<img src="{{ asset('images/plongeesousmarine.jpg') }}" alt="">
										<p> Il existe tellement de raison de voyager.</p>
										<p>Quand je suis dans l'eau j'ai des idées, quand j'en suis sortie je séche .</p>
										<h5 class="mu-ct-name"> - Voyage</h5>
										<span class="mu-ct-title">- Marc Thiercelin</span>
									</li>
									
									<li>
										<i class="fa fa-quote-right mu-quote-icon"></i>
										<img src="{{ asset('images/cuisin.jpg') }}" alt="">
										<p>La vraie cuisine est une forme d'art. Un cadeau à partager.</p>
										<h5 class="mu-ct-name"> - Cuisine</h5>
										<span class="mu-ct-title">- Oprah Winfrey </span>
									</li>

								</ul>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Testimonials -->


    <!-- Start Contact -->
    <section id="mu-contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-contact-area">

                        <div class="mu-contact-header">
                            <h2 class="mu-heading-title">Veuillez me contacter</h2>
                            <span class="mu-header-dot"></span>
                            <p></p>
                        </div>

                        <!-- Start Contact Content -->
                        <div class="mu-contact-content">
                            <div class="row">

                                <div class="col-md-12">
                                    <div class="mu-contact-top">

                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="mu-contact-top-single">
                                                    <div class="mu-icon"><i class="fa fa-map-marker"></i></div>
                                                    <p>Pantin</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="mu-contact-top-single">
                                                    <div class="mu-icon"><i class="fa fa-phone"></i></div>
                                                    <p>+336 98 76 78 98 34</p>                                                   
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="mu-contact-top-single">
                                                    <div class="mu-icon"><i class="fa fa-envelope"></i></div>
                                                    <p>contact@domain.com</p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="mu-contact-bottom">
                                        <div id="form-messages"></div>
                                        <form id="ajax-contact" method="post" action="mailer.php"
                                            class="mu-contact-form">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Name" id="name"
                                                    name="name" required>
                                            </div>
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Enter Email"
                                                    id="email" name="email" required>
                                            </div>
                                            <div class="form-group">
                                                <textarea class="form-control" placeholder="Message" id="message"
                                                    name="message" required></textarea>
                                            </div>
                                            <button type="submit" class="mu-send-msg-btn"><span>Envoyer</span></button>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- End Contact Content -->

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Contact -->

</main>

<!-- End main content -->


<!-- Start footer -->
<footer id="mu-footer" role="contentinfo">
    <div class="container">
        <div class="mu-footer-area">
            <p class="mu-copy-right">&copy; Copyright <a rel="nofollow" href=""></a>. All
                right reserved.</p>
        </div>
    </div>

</footer>
<!-- End footer -->
{% endblock %}
